.descripcion > div, .descripcion, .item__image, .ver__mas > div, .ver__mas {
  width: 100%;
  height: 100%;
}

.imagen, header .img__principal {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.text .degradado2, .text .degradado1 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(213, 180, 74) 6%, rgba(213, 180, 74, 0.863) 94%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 100%;
  top: -8vh;
  z-index: 1;
}

#main__nosotros h1, #main__contacto h1, #main__quehacer h1 {
  text-align: center;
  padding: 4vh 8vw;
  text-shadow: 1px 1px 1px #000, 1px 1px 3px #000;
  font-size: clamp(1.3rem, 3vw, 4rem);
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28213, 181, 74%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dorada__nav__a {
  color: #d5b54a;
  font-weight: 500;
}
.dorada__nav__a:hover {
  color: #967c23;
}

.dorada__bg__nav {
  background-color: #e7e7e5;
}

.dorada__nav__link {
  font-size: 1.5vw;
  color: #d5b54a;
  font-weight: 500;
}
.dorada__nav__link:hover {
  color: #967c23;
}

footer {
  background-color: #e7e7e5;
  margin-bottom: 61px;
  border-bottom: solid 1px #d5b54a;
}
footer i {
  color: #d5b54a;
}
footer h3 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
footer a {
  text-decoration: none;
  font-family: "Courgette";
  color: #000;
}
footer .mail__geo a {
  margin-left: 1vw;
}
footer .mail__geo a:hover {
  text-decoration: underline;
  color: #d5b54a;
}
footer .redes a {
  padding: 1vw 1.5vw;
  margin: 0.3vw;
}

header .img__principal {
  width: 100%;
  height: 100vh;
  background-position: center 30%;
}
header .titulo {
  position: absolute;
  top: 10px;
  color: #d5b54a;
  text-align: center;
}
header .titulo h1 {
  margin-bottom: 0;
  margin-top: 7rem;
  text-shadow: 1px 1px 1px #000, 1px 1px 3px #000;
  font-size: clamp(1.5rem, 4.5vw, 4rem);
}
header .titulo h3 {
  margin-top: 1vh;
  text-shadow: 1px 1px 1px #000, 1px 1px 3px #000;
  font-size: clamp(0.7rem, 2.5vw, 2rem);
}

.intro {
  background-color: transparent;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(213, 180, 74) 6%, rgba(213, 180, 74, 0.863) 94%, rgba(255, 255, 255, 0) 100%);
  padding: 25vh 0;
  position: relative;
  top: -8vh;
}

.intro__parrafo {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: clamp(1.5rem, 3vw, 2.5rem);
  text-align: center;
  text-shadow: 1px 1px 1px #000, 1px 1px 3px #000;
}

#main__index .card__index {
  text-decoration: none;
  color: #000;
}
#main__index .card__index:hover .ver__mas {
  opacity: 1;
}

.ver__mas {
  position: absolute;
  top: 0;
  padding: 1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 36%, rgba(213, 181, 74, 0.7) 70%);
  color: #fff;
  opacity: 0;
  border-radius: 10px;
  text-shadow: 1px 1px 1px #000, 1px 1px 3px #000;
  transition: all 0.5s ease-in;
}
.ver__mas > div {
  padding: 1rem;
  border: thin solid #fff;
  border-radius: 10px;
}

.dorada__img__card {
  padding: 0 4vw;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.container__galery {
  width: 100%;
}

.galery__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.galery__item {
  position: relative;
  isolation: isolate;
  display: flex;
  flex: 1;
  background-color: #000;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  transition: flex 0.5s, opacity 0.25s;
}
.galery__item:hover {
  opacity: 1;
  flex-grow: 5;
  flex-basis: 100%;
}
.galery__item:hover .name {
  opacity: 1;
  transition: all 0.5s ease-in;
}
.galery__item:not(:hover) {
  opacity: 0.75;
}

.item__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;
}

.item__description {
  align-self: flex-end;
  text-transform: uppercase;
  color: #fff;
  font-family: "Playfair Display", serif;
  width: 50%;
  text-align: center;
}

.name {
  font-size: 37px;
  background: #d5b54a;
  padding: 10px;
  opacity: 0;
  border-radius: 0 40px 40px 0;
  transform: translateY(-10px);
}

#main__quehacer h1 {
  color: #d5b54a;
  margin-top: 1rem;
}

.mapa {
  aspect-ratio: 9/16;
  margin-top: 2vw;
}

.icon__contacto {
  color: #d5b54a;
  font-size: clamp(3rem, 5vw, 4rem);
}

.redes__contacto {
  color: #d5b54a;
  font-size: clamp(2rem, 5vw, 3rem);
  margin-inline: 1vw;
}

#main__contacto h1 {
  color: #d5b54a;
}
#main__contacto h5 {
  color: #d5b54a;
  font-size: 1.5rem;
}
#main__contacto small a {
  font-size: 1rem;
  color: #000;
  font-family: "Courgette";
}
#main__contacto input, #main__contacto textarea {
  border-color: #d5b54a;
}
#main__contacto label {
  color: #000;
}
#main__contacto article div:hover {
  background-color: #d5b54a;
  border-radius: 2px;
  transition: all 0.5s ease-in;
}
#main__contacto article div:hover .icon__contacto, #main__contacto article div:hover h5, #main__contacto article div:hover i {
  color: #fff;
  transition: all 0.5s ease-in;
}

form h3 {
  color: #d5b54a;
  font-weight: 500;
}

.boton__form {
  background-color: #d5b54a;
  border: none;
  border-radius: 5px;
  width: 100%;
}

body {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

/* usado en index y que hacer */
.section__card {
  overflow-x: hidden;
  align-items: center;
  margin-bottom: 4vh;
  border: solid thin #d5b54a;
  border-radius: 10px;
}
.section__card img {
  margin: 2vw 0;
  width: clamp(300px, 27vw, 400px);
  aspect-ratio: 4/3;
  border-radius: 5px;
  object-fit: cover;
}
.section__card article h3 {
  margin-top: 2vw;
  text-align: center;
  color: #d5b54a;
}

/* ********** gastronomia y habitaciones ************* */
.text {
  background-color: #d5b54a;
  position: relative;
}
.text .degradado1 {
  height: 110%;
}
.text .degradado2 {
  height: 100%;
}

.imagen {
  height: 90vh;
  opacity: 0.8;
}

.padding-section {
  padding: 200px 0;
}

.titulo-parrafo {
  position: relative;
  z-index: 1;
  margin: 20px 15%;
  text-align: center;
  text-shadow: 1px 1px 1px #000, 1px 1px 3px #000;
}

.item__paralax {
  position: relative;
  text-shadow: 1px 1px 1px #000, 1px 1px 3px #000;
  font-family: "Playfair Display", serif;
  list-style-type: square;
  z-index: 2;
}

/* ******** nosotros *************** */
.img__nosotros img {
  width: 100%;
}

.integrantes:hover .descripcion {
  opacity: 1;
}

.descripcion {
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 36%, rgba(213, 181, 74, 0.7) 70%);
  color: #fff;
  opacity: 0;
  text-shadow: 1px 1px 1px #000, 1px 1px 3px #000;
  transition: all 0.5s ease-in;
}
#main__nosotros h1 {
  color: #fff;
}
#main__nosotros section img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@media (min-width: 768px) {
  .galery__wrapper {
    flex-direction: row;
    height: 90vh;
  }
  .galery__item:hover {
    flex-basis: 0;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  p {
    font-family: "Courgette";
  }
  #main__index section article h3 {
    margin-top: 0;
  }
  nav {
    position: fixed !important;
    height: 64px;
    top: 0;
  }
  footer {
    margin-bottom: 0;
  }
  footer .redes a:hover {
    background-color: #d5b54a;
    border-radius: 50%;
  }
  footer .redes a:hover i {
    color: #fff;
  }
  /* pagina que hacer */
  .galery__wrapper {
    margin-top: 60px;
  }
  .mapa {
    margin-top: 90px;
  }
  .dorada__nav__link {
    display: inline-block;
    position: relative;
  }
  .dorada__nav__link::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 3px;
    bottom: 0;
    left: 10%;
    background-color: #967c23;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  .dorada__nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }
  /* pagina gastronomia y habitaciones */
  .text .degradado1 {
    height: 118%;
  }
  #main__contacto h1 {
    margin-top: 64px;
  }
  .item__paralax {
    font-family: "Courgette";
  }
}

/*# sourceMappingURL=style.css.map */
