footer{
    background-color: $color-secundario;
    margin-bottom: 61px;
    border-bottom: solid 1px $color-primario;
    i{
        color: $color-primario;
    }

    h3{
        font-family: $font-title;
        font-weight: 500;
    }

    a{
        text-decoration: none;
        font-family: $font-texto;
        color: $color-texto;
    }

    .mail__geo a{
        margin-left: 1vw;
        &:hover{
            text-decoration: underline;
            color: $color-primario;
        }
    }

    .redes a{
        padding: 1vw 1.5vw;
        margin:.3vw;
       
    }
}

