
header{
    
    .img__principal{
        width: 100%;
        height: 100vh;
        @extend %imgPosition;
        background-position: center 30% ;
    }

    .titulo{
        position: absolute;
        top:10px;
        color: $color-primario;
        text-align: center;

        h1{
            margin-bottom: 0;
            margin-top: 7rem;
            text-shadow: $sombra-texto;
            font-size:clamp(1.5rem, 4.5vw, 4rem);
        }

        h2{
            margin-top: 1vh;
            text-shadow: $sombra-texto;
            font-size:clamp(0.7rem, 2.5vw, 2rem);
        }

    } 
} 


.intro{
    background-color: transparent;
    background: map-get($efectos, degradado );
    padding:25vh 0;
    position: relative;
    top:-8vh;
}

.intro__parrafo{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: clamp(1.5rem, 3vw, 2.5rem);
    text-align: center;
    text-shadow: $sombra-texto;
}

#main__index .card__index{
    text-decoration: none;
    color: $color-texto;

    &:hover .ver__mas{
        opacity: 1;
    }
}

.ver__mas {
    position: absolute;
    top:0;
    @extend %pantallaCompleta;
    padding: 1rem;
    background: linear-gradient(180deg, rgba(255,255,255,0) 36%, rgba(213,181,74,0.7) 70%);
    color: $color-font;
    opacity: 1;
    border-radius: 10px;
    text-shadow: $sombra-texto;
    transition:map-get($efectos, aparecer);

        & > div {
            padding: 1rem;
            @include bordeRedondeado(thin solid $color-font, 10px);
            @extend %pantallaCompleta;
          }
}

.dorada__img__card{
    padding: 0 4vw;
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.2rem);
}
