.container__galery{
    width: 100%;
}

.galery__wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
 }

 .galery__item{
     position: relative;
     isolation: isolate;
     display: flex;
     flex: 1;
     background-color: $color-texto;
     margin: 0;
     opacity: 1;
     overflow: hidden;
     transition: map-get($efectos, galeria), opacity 0.25s;

        &:hover{
            opacity: 1;
            flex-grow:5;
            flex-basis: 100%;

            .name{
                opacity: 1;
                transition: map-get($efectos, aparecer);
             }
        }

        &:not(:hover){
            opacity: 0.75;
        }
 }

 .item__image{
     position: absolute;
     top: 0;
     right: 0;
     z-index: -1;
     @extend %pantallaCompleta;
     object-fit: cover;
 }
 
 .item__description{
     align-self: flex-end;
     text-transform: uppercase;
     color:$color-font;
     font-family:$font-title;
     width: 50%;
     text-align: center;
 }
 
 .name{
     font-size: 37px;
     background:$color-primario;
     padding:10px;
     opacity:0;
     border-radius: 0 40px 40px 0;
     transform: map-get($efectos, y-10);
 }

 #main__quehacer h1{
    @extend %tituloPrincipal;
    color: $color-primario;
    margin-top: 1rem;
 }
