$color-primario:#d5b54a;
$color-secundario:#e7e7e5;
$color-terciario:#d0baa5;
$color-font:#fff;
$color-texto:#000;
$sombra-texto:1px 1px 1px#000, 1px 1px 3px#000;
$font-texto:'Courgette';
$font-title:'Playfair Display', serif;